<div ng-controller="AccordionCtrl">
  <accordion close-others="oneAtATime">
    <accordion-group heading="{{lottery.name}} - {{lottery.amountBTC}} BTC">
    <strong>{{lottery.info}}</strong><br><br>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Address</th>
            <th>Amount BTC</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entrant in lottery.entrants">
            <td>{{ entrant.address }}</td>
            <td>{{ entrant.amountBTC }}</td>
          </tr>
        </tbody>
      </table>
          <button ng-controller="LotteryCtrl" class="btn btn-danger" ng-click="endLottery(lottery)">End Lottery</button>
          <button ng-controller="LotteryCtrl" class="btn btn-danger" ng-click="deleteLottery(lottery)">Delete Lottery</button>
          <ng-include class="pull-right" src="'/app/templates/openModalButton.html'"></ng-include>
    </accordion-group>
  </accordion>
</div><!-- end of accordion -->