<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h1>Welcome to BitLottery!</h1><br>
  <h2>Click on a Lottery Below for More Information!</h2>

  <div ng-repeat="lottery in lotteries">
    <ng-include src="'app/templates/accordian.html'"></ng-include>
  </div><!-- end of lotteries div -->
  <button class="btn btn-success btn-block btn-large" ng-click="openModal('createNewLottery')" ng-controller="ModalCtrl"><h4>Create New Lottery</h4></button>

</div><!-- end .container -->




